In [2]:
import pandas as pd

import analysis.search as s

statement = pd.read_csv("statement.csv")
statement['date'] = pd.to_datetime(statement['date'])
#statement = statement['date'].dt.date
#cname_u = input("Enter the category name: ")
#amt = float(input("Amount: "))
p = s.Search(statement)
#c = p.search_month("10")
c = p.search_year("2021")
#c = p.search_amount(amt)
#c = p.search_category(cname_u, "07/11/2022", "12/11/2022")
#c = p.search_amount(amt, "07/11/2022", "16/11/2022")
#c = p.search_range("26/11/2022", "23/11/2022")
print(c)

No records found
None

In [ ]:
d = p.search_category(cname_u, "10/23/2022", "11/23/2022")
print(d)

In [2]:
statement

        date                 shop_name  amount category
0 2022-11-26      SQ *SCAPEGOATVINTAGE   35.01      NaN
1 2022-11-23       SAVE ON FOODS #2229   10.84  grocery
2 2022-11-23    KELOWNA GOSPEL MISSION    6.40      NaN
3 2022-11-17  GOLDEN ISLAND RESTAURANT   36.50      NaN
4 2022-11-16     KOODO TOP UP REAPPROV   15.75      NaN
5 2022-11-07            MICHAELS #3929    3.55  fashion
6 2022-11-02       SAVE ON FOODS #2229   11.08      NaN

In [4]:
am = statement["amount"][2]
type(am)

numpy.float64

In [1]:
import analysis.search as s

c = s.Search("k")
d = c.c("Na")

TypeError: c() missing 1 required positional argument: 'age'