In [1]:
import pandas as pd

from analysis.search import Search as s

statement = pd.read_csv("statement.csv")
statement['date'] = pd.to_datetime(statement['date'])
#cname_u = input("Enter the category name: ")
#amt = float(input("Amount: "))
p = s(statement)
#c = p.search_month("10")
#p.search_date("26/11/2022")
p.search_year("2022")
#c = p.search_amount(amt)
#c = p.search_category(cname_u, "07/11/2022", "12/11/2022")
#c = p.search_amount(amt, "07/11/2022", "16/11/2022")
#c = p.search_range("26/11/2022", "23/11/2022")
#print(c)

        date                 shop_name  amount    category
0 2022-11-26      SQ *SCAPEGOATVINTAGE   35.01         NaN
1 2022-11-23       SAVE ON FOODS #2229   10.84     grocery
2 2022-11-23    KELOWNA GOSPEL MISSION    6.40   education
3 2022-11-17  GOLDEN ISLAND RESTAURANT   36.50     grocery
4 2022-11-16     KOODO TOP UP REAPPROV   15.75     fashion
5 2022-11-07            MICHAELS #3929    3.55     fashion
6 2022-11-02       SAVE ON FOODS #2229   11.08  restaurant

In [1]:
import pandas as pd

import analysis.analysis as a

statement = pd.read_csv("statement.csv")
statement['date'] = pd.to_datetime(statement['date'])

j = a.Analysis(statement, "02/11/2022", "26/11/2022")

In [4]:
j.income_expense_ratio_range(1000)

11.913

In [2]:
p=j.category_percentage()

In [3]:
p['percentage']

category
education      5.372282
fashion       16.200789
grocery       39.738101
restaurant     9.300764
NaN           29.388063
Name: percentage, dtype: float64

In [3]:
k = j.category_average()

19.3

In [15]:
type(k[['amount']])

pandas.core.frame.DataFrame

In [12]:
for index, row in k.iterrows():
    print(k.loc[index][0], k.loc[index][3])

IndexError: index 3 is out of bounds for axis 0 with size 2

In [3]:
for index, row in statement.iterrows():
    print(statement.loc[index]['category'], statement.loc[index][3])

nan nan
grocery grocery
education education
grocery grocery
fashion fashion
fashion fashion
restaurant restaurant