### notes
- fresh statement.csv off of td website doesn't have headers; code I wrote assumes it doesn't, so deleted the header
- my show expenses doesn't work in the run2.py :(

In [1]:
import data.store_data as sd

In [2]:
base_df = sd.Expenses()

In [3]:
df = base_df.show_expenses()

In [4]:
base_df.show_expenses()

        date                 shop_name  amount category
0 2022-11-26      SQ *SCAPEGOATVINTAGE   35.01
1 2022-11-23       SAVE ON FOODS #2229   10.84
2 2022-11-23    KELOWNA GOSPEL MISSION    6.40
3 2022-11-17  GOLDEN ISLAND RESTAURANT   36.50
4 2022-11-16     KOODO TOP UP REAPPROV   15.75
5 2022-11-07            MICHAELS #3929    3.55
6 2022-11-02       SAVE ON FOODS #2229   11.08

In [3]:
base_df.add_csv("statement.csv")

File to add is: statement.csv

/Users/mf/Desktop/533/Expense-Tracker-and-Analysis-1/data/store_data.py:48: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.maindf = self.maindf.append(userdf)