In [4]:
import store_data as sd
import categorize_data as cd
catlist = {1:"groceries", 2:"dining out", 3:"household", 4:"clothing", 5:"misc"} #defined in main doc ?

p1 = sd.Expenses()
p1.add_csv()
p1.add_expenses(catlist)
var = p1.show_expenses() # this is the name of the dataframe which will be set in the main doc

Confirm input (y/n): Date: 2022-12-01 00:00:00, Transaction name: rent, Amount: 700, Category: misc

/Users/mf/Desktop/533/Expense-Tracker-and-Analysis-1/data/store_data.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.maindf = self.maindf.append(userdf)

In [5]:
cd.categorize_all(var, catlist)
# need it to print the list first, doesn't always do it maybe just b/c vscode

{1: 'groceries', 2: 'dining out', 3: 'household', 4: 'clothing', 5: 'misc'}
2022-11-26 00:00:00 SQ *SCAPEGOATVINTAGE 35.01
2022-11-23 00:00:00 SAVE ON FOODS #2229 10.84
2022-11-23 00:00:00 KELOWNA GOSPEL MISSION 6.4
2022-11-17 00:00:00 GOLDEN ISLAND RESTAURANT 36.5
2022-11-16 00:00:00 KOODO TOP UP REAPPROV 15.75
2022-11-07 00:00:00 MICHAELS #3929 3.55
2022-11-02 00:00:00 SAVE ON FOODS #2229 11.08

In [6]:
var

        date                 shop_name  amount    category
0 2022-11-26      SQ *SCAPEGOATVINTAGE   35.01   groceries
1 2022-11-23       SAVE ON FOODS #2229   10.84  dining out
2 2022-11-23    KELOWNA GOSPEL MISSION    6.40   household
3 2022-11-17  GOLDEN ISLAND RESTAURANT   36.50    clothing
4 2022-11-16     KOODO TOP UP REAPPROV   15.75        misc
5 2022-11-07            MICHAELS #3929    3.55   groceries
6 2022-11-02       SAVE ON FOODS #2229   11.08  dining out
7 2022-12-01                      rent  700.00        misc