I checked that everything worked individually altho this doc doesn't prove it lol

### To do
- maybe find a way to fix the FutureWarning in add_csv
- make all work w/ main doc thing (store_data module?)
- write each others documentation (what exactly does that entail? check documentation for 'real' packages)

In [1]:
import store_data as sd
import categorize_data as cd
catlist = {1:"groceries", 2:"dining out", 3:"household", 4:"clothing", 5:"misc"} #defined in main doc
dict_cat_shop = {} #empty to start, as user categorizes, starts to fill; shop_name:category
p1 = sd.Expenses()
p1.add_csv()
p1.add_expenses(catlist)
df = p1.show_expenses() # this is the name of the dataframe which will be set in the main doc

Confirm input (y/n): Date: 2022-12-01 00:00:00, Transaction name: RENT, Amount: 700, Category: misc

/Users/mf/Desktop/533/Expense-Tracker-and-Analysis-1/data/store_data.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.maindf = self.maindf.append(userdf)

In [ ]:
cd.categorize_all(df, catlist, dict_cat_shop)
# need it to print the list first, doesn't always do it maybe just b/c vscode

In [4]:
cd.delete_category(df, catlist, dict_cat_shop)

{1: 'groceries', 2: 'dining out', 3: 'household', 4: 'clothing', 5: 'misc'}
Deleting household

In [3]:
cd.add_category(catlist)

{1: 'groceries', 2: 'dining out', 3: 'household', 4: 'clothing', 5: 'misc'}

In [4]:
cd.update_category(df, catlist, dict_cat_shop)

{1: 'groceries', 2: 'dining out', 3: 'household', 4: 'clothing', 5: 'misc', 6: 'other'}
Renaming misc as travel
Cancelling renaming

In [2]:
cd.categorize_item(df, catlist, dict_cat_shop)

        date                 shop_name  amount category
0 2022-11-26      SQ *SCAPEGOATVINTAGE   35.01
1 2022-11-23       SAVE ON FOODS #2229   10.84
2 2022-11-23    KELOWNA GOSPEL MISSION    6.40
3 2022-11-17  GOLDEN ISLAND RESTAURANT   36.50
4 2022-11-16     KOODO TOP UP REAPPROV   15.75
5 2022-11-07            MICHAELS #3929    3.55
6 2022-11-02       SAVE ON FOODS #2229   11.08
7 2022-12-01                      RENT  700.00     misc
        date            shop_name  amount category
1 2022-11-23  SAVE ON FOODS #2229   10.84
{1: 'groceries', 2: 'dining out', 3: 'household', 4: 'clothing', 5: 'misc'}
Updating the category of line 1 to groceries

In [7]:
df

        date                 shop_name  amount    category
0 2022-11-26      SQ *SCAPEGOATVINTAGE   35.01     grocery
1 2022-11-23       SAVE ON FOODS #2229   10.84  dining out
2 2022-11-23    KELOWNA GOSPEL MISSION    6.40   household
3 2022-11-17  GOLDEN ISLAND RESTAURANT   36.50  dining out
4 2022-11-16     KOODO TOP UP REAPPROV   15.75        misc
5 2022-11-07            MICHAELS #3929    3.55        misc
6 2022-11-02       SAVE ON FOODS #2229   11.08  dining out
7 2022-12-01                      RENT  700.00        misc